section#project {
  padding: 2rem;
}

.project__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  word-wrap: break-word;
}

.project__item {
  padding: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.project__item h3 {
  font-size: 1rem;
}

.project__item-image {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  height: 9rem;
}

.project__item h3 {
  margin: 1rem 0.5rem 1.5rem;
  text-align: center;
  color: var(--color-dark);
}

.project__item-cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

/*    Media Queries (Medium Devices)    */

@media screen and (max-width: 1024px) {
  .project__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }

  .project__item-image {
    height: 12.5rem;
  }
}

/*    Media Queries (Mobile Devices)    */

@media screen and (max-width: 600px) {
  .project__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
