.contact__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12%;
}

.contact__option {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
}

.contact__option:hover {
  background: rgb(97, 4, 95, 0.9);
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  color: #ee2deb;
}

.contact__option h4,
h5 {
  color: var(--color-white);
}

@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/*    Media Queries (Mobile Devices)    */

@media screen and (max-width: 600px) {
  .contact__container {
    grid-template-columns: 1fr;
    width: var(--container-width-sm);
  }
}
